@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #450a0a; /* red 950 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* keep it white, strictly red/white */
    --foreground: #450a0a; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
