@import "tailwindcss";

:root {
  --background: #ffffff; 
  --foreground: #450a0a; /* red 950 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; 
    --foreground: #450a0a; 
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffe2e2; /* red-100 */
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626; /* red-600 */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shimmer {
  to {
    transform: translateX(100%);
  }
}
